<div id="header">
 <!-- Navigation -->
	<nav class="navbar-default sidebar" role="navigation" style="background-color: #354555">
		<div class="sidebar-nav navbar-collapse">
  		<a href="http://192.168.0.62/lobby/selectProject"><img src="/images/logo.png" style="width:250px"></a>
    	<div class="row">
    		<div class="col-xs-2 col-sm-2">
		  		<div><a data-toggle="modal" data-target="#modifyModal" class="profile"><img src="/images/noimage2.png"></a></div>
      	</div>
      	<div class="col-xs-10 col-sm-10">
		  		<p style="color: white; font-size: 30px; text-align: center; margin-top: 10px">이지수</p>
		  	</div>
    	</div>
      	<ul class="nav" id="side-menu" style="margin-top: 15px">
      		<li>
        		<a href="http://192.168.0.62/project/dashBoard?projectListNo=<%=project_list_no%>&userNo=<%=loginId%>"><img src="/images/menu/dashboard.png" style="width: 50%"></a>
        	</li>
        	<li>
        		<a href="/scrum/taskBoard"><img src="/images/menu/scrum.png" style="width: 50%"><span class="fa arrow"></span></a>
        		<ul class="nav nav-second-level">
        			<li>
        				<a href="http://192.168.0.62:4567/taskBoard/<%=project_list_no%>/0/<%=loginId%>"><img src="/images/menu/task.png" style="width: 60%"></a>
        			</li>
        			<li>
        				<a href="http://192.168.0.62:4567/releasePlanning/<%=project_list_no%>/<%=loginId%>"><img src="/images/menu/release.png" style="width: 70%"></a>
        			</li>
      			</ul>
          	<!-- /.nav-second-level -->
        	</li>
        	<li>
        		<a href="http://192.168.0.62/gantt/ganttChart?projectListNo=<%=project_list_no%>&userNo=<%=loginId%>"><img src="/images/menu/gantt.png" style="width: 50%"></a>
        	</li>
        	<li>
        		<a href="http://192.168.0.62/project/library?projectListNo=<%=project_list_no%>&userNo=<%=loginId%>"><img src="/images/menu/library.png" style="width: 50%"></a>
        	</li>
        	<li>
        		<a href="http://192.168.0.62/project/member?projectListNo=<%=project_list_no%>&userNo=<%=loginId%>"><img src="/images/menu/member.png" style="width: 50%"></a>
        	</li>
        	<li>
        		<a href="#"><img src="/images/menu/log.png" style="width: 50%"></a>
        	</li>
        	<li>
        		<a><img src="/images/menu/logout.png"  class="logoutBtn"  style="width: 50%; cursor: pointer;"></a>
        	</li>
      	</ul>
		</div>
		<!-- /.sidebar-collapse -->
	</nav>
<!-- /.navbar-static-side -->
</div>