<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
	<!-- Bootstrap Core CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/scrum/scrum.css" rel="stylesheet">
  <link href="/css/bootstrap.vertical-tabs.min.css" rel="stylesheet">
  <link href="/css/metisMenu.css" rel="stylesheet">
  <link href="/css/morris.css" rel="stylesheet">
  <link href="/css/sb-admin-2.css" rel="stylesheet">
  <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet">
  <link href="/css/font-awesome.css" rel="stylesheet" type="text/css">
  <link href="/css/sweetalert2.min.css" rel="stylesheet">
    
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/metisMenu.js"></script>
  <script src="/js/raphael.js"></script>
  <script src="/js/sb-admin-2.js"></script>
  <script src="/js/sweetalert2.min.js"></script>
  <script src="/js/bootstrap-datetimepicker.js"></script>
  <script src="/js/bootstrap-datetimepicker.ko.js"></script>
  <script src="/socket.io/socket.io.js"></script>
    
<style>
	.profile {width:70px; height:70px; border-radius:70px; overflow:hidden; margin-left: 70%; float: left;}
	.profile img {height:70px; width:70px;}
	.sidebar .sidebar-nav.navbar-collapse{
  overflow: hidden;
  border: 1px solid #354555;  
}
	.padding-accpeted {
		padding-right : 15px;
		padding-left : 15px;
	}
</style>
<style>
	img#chatBtn {
    position: fixed;
    right: 2%;
    bottom: 50px;
    z-index: 999;
	}
	.UserStoryCSS{
		height: 100%;
		background-color: rgba(51, 122, 183, 0.46);
		border-radius: 8px;
		padding-left : 0.5px;
		padding-right : 0.5px;
}
	.HereToToDo {
    height: 100%;

    background-color: rgba(92, 184, 92, 0.46);
		border-radius: 8px;	
		padding-left : 0.5px;
		padding-right : 0.5px;
}
	.HereToDoing {
    height: 100%;
    
    background-color: rgba(240, 173, 78, 0.46);
		border-radius: 8px;	
		padding-left : 0.5px;
		padding-right : 0.5px;
}
	.HereToDone {
    height: 100%;
    
    background-color: rgba(217, 83, 79, 0.46);
		border-radius: 8px;	
		padding-left : 0.5px;
		padding-right : 0.5px;
}

.UserStoryCard{
		border-radius: 8px;
}
.ToDoCard{
		border-radius : 8px;
}
.DoingCard{
		border-radius : 8px;
}
.DoneCard{
		border-radius : 8px;
}
</style>

</head>
<body>
<div id="wrapper">

<!-- header -->
<% include ../include/header.ejs %>
<!-- header -->

<div id="content"> 
<!--content -->

<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header" id="taskBoardBtn">
        <a class="btn btn-default" data-toggle="modal" data-target="#categoryModal"> Category </a> 
        <a href="localhost:4567/taskboard/<%=project_list_no%>/<%=Max%>/<%=loginId%>" class="btn btn-default active"> Task Board </a> 
        <a href="localhost:4567/releasePlanning/<%=project_list_no%>/<%=loginId%>" class="btn btn-default"> Release Planning </a>
      </div>
    </div>
  	<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
  
  
  <div class="container">
    <div class="row">
      <div class="col-sm-1 col-sm-offset-6">
        <a class="btn btn-default" style='width:100%; font-weight:bold;' id="SprintDate" data-toggle="modal" data-target="#sprintDateModal">Date <span class="fa fa-calendar"></span></a>
      </div>
      <div class="col-sm-2">
        <a class="btn btn-default" style='width:100%; font-weight:bold;' id="ClearSprintBtn">Clear Sprint <span class="fa fa-legal"></span></a>
      </div>
      <div class="col-sm-2">
        <a class="btn btn-default" style='width:100%; font-weight:bold;' id="nextSprintBtn">Next Sprint <span class="fa fa-plus-circle"></span></a>
      </div>
    </div>

    <div class="col-sm-1" id="tabArea">
      <!-- 전반적인 중요 값-->
      <input type='hidden' class='maxSprint' value='<%=maxsprint%>'>
      <input type='hidden' class='currentSprint' value='<%=currentsprint%>'>
      
      <!-- Tab List -->
      <ul id="SprintTap" class="nav nav-tabs tabs-left sideways HereToSprint">
      <!-- 스프린트 양만큼 불러서 생성 -->
      <%sprintData.forEach(function (item,sprint){ var minus = (sprintData.length-sprint);%>
        <li role="presentation" 
        	<%if(maxsprint > 0){if(minus == sprintData.length){%>
        		class="active"
        	<%}else {}%>
        	<%}else{if(sprintData[minus-1].sprint_no == currentsprint){%>
        		class="active"
        	<%} else {}}%>
        		><a href="/taskboard/<%=project_list_no%>/<%=sprintData[minus-1].sprint_no%>/<%=loginId%>" 
        		name=<%=minus%>>
        	<%=minus%> Sprint</a></li>
      <%});%>
      <!-- 생성 완료 -->    
      </ul>
    </div>
    
    <!-- Tab -->
    <div class="col-sm-11">
    
  	<!-- 고정형식 -->
  	<div class="row">
    	<div class="col-lg-3 col-md-6">
      	<div class="panel panel-primary">
        	<div class="panel-heading">
          	<div class="row">
            	<div class="col-xs-10 col-xs-offset-1 text-center">
              	<div class="huge">User Story 
              	<%if(category.length > 0){%>
              	<a style="cursor:pointer" class="fa fa-plus-circle registUser" data-toggle="modal" data-target="#registUserStoryModal"></a>
            		<%} else {}%>
            		</div>
            	</div>
          	</div>
        	</div>
      	</div>
    	</div>

    	<div class="col-lg-3 col-md-6">
      	<div class="panel panel-green">
        	<div class="panel-heading">
          	<div class="row">
            	<div class="col-xs-10 col-xs-offset-1 text-center">
              	<div class="huge">To Do <a class="ToDoMaking
              	<!-- 선택 값에 따른 추가 버튼 생성 -->
              	<%if(storyData.length > 0){ var exist = 0; %>
              		<%storyData.forEach(function (item,sprint){%>
              			<%if(item.working_time > 0){ exist= 1;}%>
              		<%})%>	
              		<%if(currentsprint == Max && exist == 1|| maxsprint == Max && exist == 1){%> 
              			fa fa-plus-circle" style="cursor:pointer;
              		<%}else {}%>
              	<%} else {}%>
              
              	<!-- 선택 값에 따른 추가 버튼 생성 -->
              	" id='ToDoMaking' data-toggle="modal" data-target="#registTodoModal"></a></div>
            	</div>
          	</div>
        	</div>
      	</div>
    	</div>

    	<div class="col-lg-3 col-md-6">
    	  <div class="panel panel-yellow">
  	      <div class="panel-heading">
 	 	      	<div class="row">
 	          	<div class="col-xs-10 col-xs-offset-1 text-center">
              	<div class="huge">Doing</div>
            	</div>
          	</div>
        	</div>
      	</div>
    	</div>

    	<div class="col-lg-3 col-md-6">
      	<div class="panel panel-red">
        	<div class="panel-heading">
          	<div class="row">
            	<div class="col-xs-10 col-xs-offset-1 text-center">
              	<div class="huge">Done</div>
            	</div>
          	</div>
        	</div>
      	</div>
    	</div>
  	</div>
    
      <!-- Tab2 -->
  			<!-- Tab 시작 -->
  			<div class=row>
    			<div class="col-lg-3 col-md-6">
  					<div class='UserStoryCSS HereToUserStory'>
      			<!-- User Story -->
    				</div>
    			</div>
    			<div class="col-lg-3 col-md-6" >
  					<div class='HereToToDo' id='0' ondrop="drop(event)" ondragover="allowDrop(event)">
      			<!-- ToDo -->
    				</div>
    			</div>
	    		<div class="col-lg-3 col-md-6" >
  					<div class='HereToDoing' id='1' ondrop="drop(event)" ondragover="allowDrop(event)">
	      		<!-- Doing -->
	      		</div>
	    		</div>
	    		<div class="col-lg-3 col-md-6">
  					<div class='HereToDone'  id='2' ondrop="drop(event)" ondragover="allowDrop(event)">
	      		<!-- Done -->
	      		</div>
	    		</div>
  			</div>
  	<!-- 고정형식 종료 -->
	</div>
</div>

  </div>
	<!-- container-->
</div>
<!-- content -->

<!-- footer -->  
<% include ../include/footer.ejs%>
<!-- footer -->

</div>
<!-- wrapper-->
<!-- 기본적인 관련 스크립트 모음 -->


<!-- Modal -->
<% include ../Modal/categoryModal.ejs %>
<% include ../Modal/sprintDateModal.ejs %>
<!-- UserStory -->
<% include ../Modal/registUserStoryModal.ejs %>
<% include ../Modal/modifyUserStoryModal.ejs %>
<% include ../Modal/detailUserStoryModal.ejs %>
<!-- ToDo -->
<% include ../Modal/registTodoModal.ejs %>
<% include ../Modal/modifyTodoModal.ejs %>
<% include ../Modal/detailTodoModal.ejs %>



<% include ../include/basicScript.ejs %>




</div>
</body>